# Bot y API
python-telegram-bot>=20.8
python-dotenv>=1.0.0
fastapi>=0.109.0
uvicorn>=0.27.0
python-dotenv>=1.0.0 

# Procesamiento de LLM
transformers>=4.37.0
torch>=2.2.0
pydantic>=2.6.0

# Utilidades
python-multipart>=0.0.9
typing-extensions>=4.9.0 